{% extends "logged_in_base.html" %}

{% block page_title %}
    SGG Designer
{% endblock %}

{% block selected_icon %}{% endblock %}

{% block extra_head %}
  <script src="{{STATIC_URL}}js/sggDesigner.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- one column -->
            <div class="span12">
                {% for template in view_objects.left_templates %}
                    {% include template %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
